@import url('https://fonts.googleapis.com/css?family=Raleway');

html,body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  overflow: scroll;
  font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
}
html {
  font-size: 10px;
}
body {
  font-size: 14px;
}

nav.navbar {
  background-color: #1a1a1a;  
  border-bottom-color: #d65050;
  border-bottom-width: 0.4rem;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

#pageContent {
  padding: 60px 15px 60px 15px;
}

#columnSpacer {
  transition: min-width .2s ease;
  float: left;
  position: relative;
  min-height: 1px;
}
#columnSpacer.fr-col-md-0 {
  min-width: 0;
  max-width: 16.66666667%;
}
#columnSpacer.fr-col-md-2 {
  min-width: 0;
  max-width: 0;
}
@media(min-width: 992px) {
  #columnSpacer.fr-col-md-2 {
    min-width: 16.66666667%;
    max-width: 16.66666667%;
    transition: min-width .2s ease .2s;
  }
}

#columnBoard {
  transition: width .2s ease;
}
#columnBoard.col-md-8 {
  transition: width .2s ease .2s;
}

#columnDetail {
  transition: opacity .2s ease .2s;
}
#columnDetail.ut-transparent {
  transition: opacity .2s ease;
}


.rescue-epic {
  background-image:url("https://media.giphy.com/media/kqcjXv1FFA5IQ/giphy.gif"); 
}
.rescue-codered {
  background-color: mistyrose !important;
}
.rescue-inactive {
  opacity: 0.4 !important;
  background-color: khaki !important;
}

.ed-clock {
  cursor: default;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.ed-clock:hover {
  color: #9d9d9d !important;
}

.rdetail-header {
  font-size: 1.75em;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.rdetail-header div {
  display: inline;
  vertical-align: middle;
}
.rdetail-header .label {
  padding: .2em .6em;
  position: relative;
  top: -3px;
}
.rdetail-body thead, .rdetail-body thead td{
  padding: 0 !important;
}
.rdetail-info-title {
  border: none !important;
  padding-left: 0 !important;
  font-weight: bold;
}
.rdetail-info-title:after {
  content: ':';
}
.rdetail-info-empty {
  border: none !important;
}

#rescueDetail {
  border: 1px solid #ddd;
  padding: 0 15px;
}

.button.login {
  display: none;
}
body.user-unauthenticated .button.login {
  display: block;
}
body.user-unauthenticated .shutter-text.login, body.user-nopermission .shutter-text.permission {
  display: block;
}

#mainLogoutButton {
  margin-right: -13px;
}
body.loading .button.logout,
body.user-unauthenticated .button.logout {
  display: none;
}