@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Raleway');

.float-right { float: right; }
.ut-hidden { display: none !important; }
.ut-transparent { opacity: 0 !important; }

.tbl-border-none { border: none !important; }
.tbl-border-top { border-top: 1px solid var(--tableBorderColor); }
.tbl-border-bottom { border-bottom: 1px solid var(--tableBorderColor); }
.tbl-border-left { border-left: 1px solid var(--tableBorderColor); }
.tbl-border-right { border-right: 1px solid var(--tableBorderColor); }
.tbl-border-box { border:  1px solid var(--tableBorderColor); }

html,body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html {
  font-size: 10px;
}
body {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  overflow: scroll;
  background: var(--pageBgColorDark) url(img/bg.jpg) no-repeat center fixed;
  background-size: cover;
}

a, a:hover, a:active, a:focus {
  outline: 0;
}

header.navhead {
  position: fixed;
  left: 0;
  right: 0;
  background-color: var(--headerBgColor);  
  border-bottom: 0.4rem solid var(--accentColor);
  z-index: 1000;
  height: calc(50px + 0.4rem);
}
header.navhead a:hover {
  color: var(--headerFgColor);
}
.branding {
  line-height: 20px;
  font-size: 18px;
  height: 50px;
  float: left;
  color: var(--headerFgColorDark);
  text-decoration: none;
  font-family: "Raleway", Arial, sans-serif;
}
.branding img {
  vertical-align: middle;
}
#navToggleBtn {
  float: right;
  height: 50px;
  padding: 0 .75em;
}
.navbar-content {
  list-style: none;
  padding-left: 0;
  margin: 0;
  float: left;
}
ul.navbar-content li {
  position: relative;
  display: block;
  float: left;
}
ul.navbar-content li a {
  text-decoration: none;
  position: relative;
  display: block;
  line-height: 20px;
  padding: 15px 0;
  color: var(--headerFgColorDark);
}
.user-menu {
  position: absolute;
  right: 2rem;
  top: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  z-index: 1618;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-overflow: ellipsis;
}
.user-menu[data-displaystate="none"] {
  display: none;
}
.user-menu[data-displaystate="login"] {
  display: flex;
}
.user-menu[data-displaystate="menu"] {
  display: block;
  min-width: 52px;
  min-height: 52px;
  max-width: 52px;
  max-height: 52px;
  border-radius: 50%;
  overflow: hidden;
  transition: .2s ease;
  background: var(--headerBgColor);
  border: .4rem solid var(--accentColor);
}
.user-menu[data-displaystate="login"] *:not(.login) {
  display: none;
}

.user-menu[data-displaystate="menu"] button.button.login {
  display: none;
}

.user-menu.open[data-displaystate="menu"] {
  max-width: 250px;
  max-height: 250px;
  border-radius: 0;
  border-width: .2rem;
}

.user-menu .user-options {
  padding: 6px;
  opacity: 0;
  text-align: right;
  color: var(--headerFgColorDark);
  transition: .2s ease;
}

.user-menu.open .user-options {
  opacity: 1;
  transition: .2s ease .15s;
}

.user-menu .user-options .rat-name {
  padding-right: 38px;
  line-height: 32px;
  vertical-align: middle;
  font-family: Raleway, sans-serif;
  font-size: 1.1em;
}

.user-menu .user-options .option-list {
  list-style: none;
  padding: 0;
}
.user-menu .user-options .option-list li:not(:first-child) {
  padding-top: 5px;
}
.user-menu .user-options .option-list li a {
  color: var(--headerFgColorDark);
  text-decoration: none;
  transition: .2s ease, padding .075s linear;
}
.user-menu .user-options .option-list li a:hover {
  color: var(--headerFgColor);
  padding-right: 5px;
}

.user-menu .user-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  right: 0;
  transition: .1s ease .15s;
}
.user-menu.open .user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 6px;
  right: 6px;
  transition: .1s ease;
}
.user-menu:not([data-displaystate="menu"]) .user-icon {
  display: none;
}


.btn {
  background-color: var(--accentColor);
  border-color: var(--accentColor);
  border-style: solid;
  border-width: 0.2rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-family: Raleway, sans-serif;
  margin: 0;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.2s;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-overflow: ellipsis;
}
.btn:hover {
  background: transparent;
  color: var(--accentColor);
}
.btn.active {
  background: transparent;
  color: var(--accentColorDark);
  border-color: var(--accentColorDark);
}
.btn:focus {
  outline: 0;
}

.button {
  background-color: var(--accentColor);
  border-color: var(--accentColor);
  border-style: solid;
  border-width: 0.2rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-shrink: 0;
  font-family: Raleway, sans-serif;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: all 0.2s;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-overflow: ellipsis;
}
.button:hover {
  background: transparent;
  color: var(--accentColor);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: var(--pageBgColorDark);
}

.badge {
  background: rgb(var(--badgeNeutralColor));
  color: rgb(var(--badgeFgColor));
  padding: .10em .40em;
  font-size: .78em;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  transition: all 0.2s;
}
.badge.badge-red {
  background: rgb(var(--badgeErrorColor));
}
.badge.badge-yellow {
  background: rgb(var(--badgeWarningColor));
}
.badge.badge-green {
  background: rgb(var(--badgeOkColor));
}
a .badge:hover {
  background: rgba(var(--badgeNeutralColor), .2);
  color: rgb(var(--badgeNeutralColor));
}
a .badge.badge-red:hover {
  background: rgba(var(--badgeErrorColor), .2);
  color: rgb(var(--badgeErrorColor));
}
a .badge.badge-yellow:hover {
  background: rgba(var(--badgeWarningColor),.2);
  color: rgb(var(--badgeWarningColor));
}
a .badge.badge-green:hover {
  background: rgba(var(--badgeOkColor), .2);
  color: rgb(var(--badgeOkColor));
}


.shutter {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(26, 26, 26, .95);
  opacity: 0;
  transition: opacity .2s ease,
  width 0s ease .2s,
  height 0s ease .2s;
}
.loading .shutter,
.shutter-force .shutter {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1200;
  transition: opacity .2s ease,
  width 0s ease,
  height 0s ease;
}

.shutter-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  display: none;
}
.shutter-text.subtext {
  position: absolute;
  font-size: 1.75rem;
  top: 2.5rem;
  right: 11.5rem;
}
.shutter-text.msgtext {
  position: absolute;
  bottom: 6.5rem;
  right: 6.5rem;
  font-size: 2.5rem;
  text-align: right;
}

.loading .loading-circle:before,
.loading .loading-circle:after,
.loading.loading-circle:before,
.loading.loading-circle:after {
  align-content: center;
  align-items: center;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.3rem;
  color: #ffffff;
  display: flex;
  height: 10rem;
  justify-content: center;
  left: 50%;
  margin-left: -5rem;
  margin-top: -5rem;
  position: absolute;
  top: 50%;
  width: 10rem;
}

.loading .loading-circle:before,
.loading.loading-circle:before {
  border-color: transparent;
  content: 'Loading';
  font-family: "Raleway", "Open Sans", Arial, sans-serif;
}

.loading .loading-circle:after,
.loading.loading-circle:after {
  animation-delay: 0s, 1s;
  animation-duration: 1s, 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1, infinite;
  animation-name: loading-start, loading;
  border-color: #ffffff;
  content: '';
}

@media(min-width: 992px) {
  .btn.btn-nav-toggle {
    display: none;
  }
  .navbar.navbar-collapse {
    display: block;
  }
  .navbar.navbar-right {
  float: right;
  margin-right: calc(4rem + 52px);
  }
}

@media(max-width: 992px) {
  .navbar.navbar-collapse {
  max-height: 0px;
  transition: max-height .3s ease,
              border-width 0s ease .25s;
  background: var(--headerBgColor);
  border-bottom: 0 solid var(--accentColor);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  }
  .navbar.navbar-collapse.expand {
    max-height: 500px;
    border-width: .3rem;
    transition: max-height .3s ease,
                border-width 0s ease;
  }
  ul.navbar-content {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@keyframes loading-start {
  0% {
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  }

  100% {
    border-top-color: transparent;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  }
}

@keyframes loading {
  0% {
    border-top-color: transparent;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  }

  25% {
    border-top-color: #ffffff;
    border-right-color: transparent;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  }

  50% {
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: transparent;
    border-left-color: #ffffff;
  }

  75% {
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: transparent;
  }

  100% {
    border-top-color: transparent;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  }
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}