body.clipboard-enable .btn-clipboard {
  cursor: pointer;
}
.btn-clipboard .clipboard-icon {
  padding: .3rem 0;
  color: var(--accentColor);
  float: right;
  opacity: 0;
  transition: opacity .2s ease;
  display: flex;
}
body.clipboard-enable .btn-clipboard:hover .clipboard-icon {
  opacity: .75;
}
body.clipboard-enable .btn-clipboard:active .clipboard-icon {
  opacity: 1;
  transition: opacity .01s ease;
}
body.clipboard-enable .btn-clipboard .clipboard-icon::after {
    content: "Copied!";
    position: absolute;
    font-family: "Open Sans",Arial,sans-serif;
    display: block;
    text-align: center;
    margin-left: -1.6795rem;
    margin-top: 2.5rem;
    background: #000;
    padding: 2px 4px;
    color: #fff;
    border-radius: 4px;
    opacity: 0;
    transition: .2s ease .5s;
}
body.clipboard-enable .btn-clipboard:active .clipboard-icon::after {
    opacity: 1;
    transition: .05s ease;
}