.rdetail-header {
  font-size: 1.75em;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  color: var(--pageFgColor);
}
.rdetail-header div {
  display: inline;
  vertical-align: middle;
}
.rdetail-header .rdetail-title, .rdetail-info-title {
  font-family: "Raleway", Arial, sans-serif;
}
.rdetail-header .label {
  padding: .2em .6em;
  position: relative;
  top: -3px;
}
.rdetail-body thead, .rdetail-body thead td{
  padding: 0 !important;
}
.rdetail-info-title {
  border: none !important;
  padding-left: 0 !important;
  font-weight: bold;
}
.rdetail-info-title:after {
  content: ':';
}
.rdetail-info-empty {
  border: none !important;
}

.rdetail-quote-time {
  font-size: .85em;
  opacity: .75;
  vertical-align: top;
}
.rdetail-quote-message {
  font-style: italic;
}

#rescueDetail {
  background: var(--pageBgColor);
  border: 1px solid var(--tableBorderColor);
  padding: 0 15px;
}