body.clipboard-enable .btn-clipboard {
  cursor: pointer;
}
.btn-clipboard i {
  padding: .3rem 0;
  color: var(--accentColor);
  float: right;
  opacity: 0;
  transition: opacity .2s ease;
}
body.clipboard-enable .btn-clipboard:hover i {
  opacity: .75;
}
body.clipboard-enable .btn-clipboard:active i {
  opacity: 1;
  transition: opacity .01s ease;
}
body.clipboard-enable .btn-clipboard i::after {
    content: "Copied!";
    position: absolute;
    font-family: "Open Sans",Arial,sans-serif;
    display: block;
    text-align: center;
    margin-left: 0;
    margin-top: .25rem;
    background: #000;
    padding: 2px 4px;
    color: #fff;
    border-radius: 4px;
    opacity: 0;
    transition: .2s ease .5s;
    max-width: 0;
}
body.clipboard-enable .btn-clipboard:active i::after {
    opacity: 1;
    max-width: 5.75667rem;
    margin-left: -2.178335rem;
    transition: .05s ease;
}