table {
  border-spacing: 0;
  border-collapse: collapse;
  background: var(--pageBgColor);
  color: var(--pageFgColor);
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;
}
.table > thead > tr > th {
  text-align: left;
  padding: 8px;
  vertical-align: bottom;
}
.table > tbody > tr {
  background-color: var(--pageBgColor);
}
.table > tbody > tr > td {
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid var(--tableBorderColor);
}
.table > tbody > tr > td.rescue-row-detail {
  padding: 4px;
  height: 40px;
}
td.rescue-row-detail button.btn.btn-detail {
  height: 100%;
  width: 100%;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: var(--pageBgColorDark);
}
.table-bordered {
  border: 1px solid var(--tableBorderColor);
}
.table-bordered > thead > tr > th {
  border: 1px solid var(--tableBorderColor);
  border-bottom-width: 2px;
  border-top: 0;
}
.table-bordered > tbody > tr > td {
  border: 1px solid var(--tableBorderColor);
}
tr.rescue-codered {
  background-color: var(--tableRowCoderedColor) !important;
}
tr.rescue-inactive {
  opacity: 0.4 !important;
  background-color: var(--tableRowInactiveColor) !important;
}