.badge {
    background: rgb(var(--badgeNeutralColor));
    color: rgb(var(--badgeFgColor));
    padding: .3em 1em;
    font-size: .9em;
    border-radius: 3px;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    font-family: "Open Sans",Arial,sans-serif;
    transition: all .2s;
    margin-right: 4px;
}
.badge.badge-red {
  background: rgba(var(--badgeErrorColor), .5);
}
.badge.badge-yellow {
  background: rgba(var(--badgeWarningColor), .5);
}
.badge.badge-green {
  background: rgba(var(--badgeOkColor), .5);
}

.badge.platform-pc {
  background: var(--rescuePlatformColorPC);
}
.badge.platform-xb {
  background: var(--rescuePlatformColorXB);
}
.badge.platform-ps {
  background: var(--rescuePlatformColorPS);
}

a .badge:hover {
  background: rgba(var(--badgeNeutralColor), .2);
  color: rgb(var(--badgeNeutralColor));
}
a .badge.badge-red:hover {
  background: rgba(var(--badgeErrorColor), .2);
  color: rgb(var(--badgeErrorColor));
}
a .badge.badge-yellow:hover {
  background: rgba(var(--badgeWarningColor),.2);
  color: rgb(var(--badgeWarningColor));
}
a .badge.badge-green:hover {
  background: rgba(var(--badgeOkColor), .2);
  color: rgb(var(--badgeOkColor));
}