.shutter {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(26, 26, 26, .95);
  opacity: 0;
  transition: opacity .2s ease,
  width 0s ease .2s,
  height 0s ease .2s;
}
.loading .shutter,
.shutter-force .shutter {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1200;
  transition: opacity .2s ease,
  width 0s ease,
  height 0s ease;
}

.shutter-text {
  color: #fff;
  font-family: Raleway, sans-serif;
  display: none;
}
.shutter-text.subtext {
  position: absolute;
  font-size: 1.75rem;
  top: 2.5rem;
  right: 11.5rem;
}
.shutter-text.msgtext {
  position: absolute;
  bottom: 6.5rem;
  right: 6.5rem;
  font-size: 2.5rem;
  text-align: right;
}

.loading .loading-circle:before,
.loading .loading-circle:after,
.loading.loading-circle:before,
.loading.loading-circle:after {
  align-content: center;
  align-items: center;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.3rem;
  color: #ffffff;
  display: flex;
  height: 10rem;
  justify-content: center;
  left: 50%;
  margin-left: -5rem;
  margin-top: -5rem;
  position: absolute;
  top: 50%;
  width: 10rem;
}

.loading .loading-circle:before,
.loading.loading-circle:before {
  border-color: transparent;
  content: 'Loading';
  font-family: "Raleway", "Open Sans", Arial, sans-serif;
}

.loading .loading-circle:after,
.loading.loading-circle:after {
  animation-delay: 0s, 1s;
  animation-duration: 1s, 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1, infinite;
  animation-name: loading-start, loading;
  border-color: #ffffff;
  content: '';
}

body.user-unauthenticated .shutter-text.login, body.user-nopermission .shutter-text.permission {
  display: block;
}

@keyframes loading-start {
  0% {
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  }

  100% {
    border-top-color: transparent;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  }
}

@keyframes loading {
  0% {
    border-top-color: transparent;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  }

  25% {
    border-top-color: #ffffff;
    border-right-color: transparent;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  }

  50% {
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: transparent;
    border-left-color: #ffffff;
  }

  75% {
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: transparent;
  }

  100% {
    border-top-color: transparent;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  }
}